# Build outputs
build/
*.apk
*.aab
*.ap_
*.dex
*.class

# Gradle
.gradle/
!gradle-wrapper.jar

# IDE
.idea/
*.iml
.navigation/
captures/

# Local config & secrets
local.properties
*.jks
*.keystore
app/firma/
app/src/main/res/values/secrets.xml
*.json

# OS files
.DS_Store
Thumbs.db

# Profiling & debug
*.hprof
*.log

# Project-specific
app/release/
docs/*
!docs/adr/
!docs/captures/
!docs/diagrams/
!docs/images/
docs/images/*
!docs/images/store/
*.xcf
*.mp4
*.pen
.atl/
